body {
    text-align: center;
    margin-top: 70px;  
    outline: none;
}
#list {
    font-size: 25px;
    color: rgb(161, 156, 156);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.btn {
    margin-left: 30px;
}
.txt {
    border: 2px solid rgb(255, 0, 0);
    /* border: none; */
    border-radius: 60px;
    font-size: 35px;
    outline: none;

}
button {
    border-radius: 70px;
    border-width: thick;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255,0,0,1);
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 0%, 
        rgba(238,254,255,1) 24%, rgba(59,255,250,1) 77%, rgba(0,255,248,1) 100%);
    outline: none;
}